@media screen and (min-width: 1235px) {
    body {
        background: url('../src/assets/img/background.png') center no-repeat;
        background-size: cover;
    }

    .space-x__body-left {
        margin-left: 17%;
        bottom: -20%
    }
}

@media screen and (max-width: 1235px) {
    body {
        background: url('../src/assets/img/small-background.png') center no-repeat;
        background-size: cover;
    }

    .nav-menu__link {
        display: none;
    }

    .nav-menu__logo {
        margin-right: 0px;
    }

    .side-menu {
        display: flex;

        &-icon {
            display: block;
        }
    }
}

@media screen  and (max-width: 740px) {
    .space-x__body-right {
        margin-left: 10%;
    }
    
    .space-x__body-left {
        margin-top: 0%;
        margin-left: 15%;
    }
}
